<div class="standard-box" style="width:700px; margin:auto">
	<p>You have <%=number_to_currency(current_user.left_to_pay, :unit => "£")%> left to pay!</p>
	<div class="amount_paid_left" style="width:50%; margin:auto;">
		<%= form_for @quote do |form| %>
			<%= form.label :loan_amount %>
			<%= form.text_field :loan_amount %>
			<br>
			<%= form.label :length_of_loan %>
			<%= form.text_field :length_of_loan %> years
			<br>
			<%= @user.apr %>%APR
			<%= form.hidden_field :apr, :value => @user.apr %>
			<br>
			<%= form.submit %>
		<% end %>
	</div>
</div>