<div class="loan-details">
	<h1>Your loan details</h1>
	<div class="partial">
		<%= render "loan_details" %>
	</div>
	<h1>Make an over payment</h1>
	<p>Making over payments will help to pay off your loan faster</p>
	<div class="blue-box">
		<%= form_for [@loan, @payment], :remote => true do |f| %>
			<%= f.label "How much extra would you like to pay?" %>
			<br>
			£<%= f.number_field :amount, min: 1, max: 100, :class => "payment-text-box"%>
			<%= f.hidden_field :loan_id, :value => @loan.id %>
			<br>
			<%= f.submit %>
		<% end %>
	</div>
	<h1>Add cash to loan</h1>
	<div class="blue-box">
		<%= form_for [@loan, @top_up] do |f| %>
			<%= f.label "How much extra would you like to borrow?" %>
			<br>
			£<%= f.text_field :amount, :class => "payment-text-box" %>
			<%= f.hidden_field :loan_id, :value => @loan.id %>
			<br>
			<%= f.submit "Check Rate and Repayments"%>
		<% end %>
	</div>
</div>