<h1>Get Some More Cash</h1>
<%= form_for [@loan, @top_up] do |form| %>
	Borrow an extra £<%= form.text_field :amount %> @ <%= @loan.apr.to_s + '%' %>APR
	<%= form.hidden_field :loan_id, :value => @loan.id %>
	<br>
	<%= form.submit %>
<% end %>